.wemark_inline_code_comment,
.wemark_inline_code_block-comment,
.wemark_inline_code_prolog,
.wemark_inline_code_doctype,
.wemark_inline_code_cdata {
    color: #999;
}

.wemark_inline_code_punctuation {
    color: #ccc;
}

.wemark_inline_code_tag,
.wemark_inline_code_attr-name,
.wemark_inline_code_namespace,
.wemark_inline_code_deleted {
    color: #e2777a;
}

.wemark_inline_code_function-name {
    color: #6196cc;
}

.wemark_inline_code_boolean,
.wemark_inline_code_number,
.wemark_inline_code_function {
    color: #f08d49;
}

.wemark_inline_code_property,
.wemark_inline_code_class-name,
.wemark_inline_code_constant,
.wemark_inline_code_symbol {
    color: #f8c555;
}

.wemark_inline_code_selector,
.wemark_inline_code_important,
.wemark_inline_code_atrule,
.wemark_inline_code_keyword,
.wemark_inline_code_builtin {
    color: #cc99cd;
}

.wemark_inline_code_string,
.wemark_inline_code_char,
.wemark_inline_code_attr-value,
.wemark_inline_code_regex,
.wemark_inline_code_variable {
    color: #7ec699;
}

.wemark_inline_code_operator,
.wemark_inline_code_entity,
.wemark_inline_code_url {
    color: #67cdcc;
}

.wemark_inline_code_important,
.wemark_inline_code_bold {
    font-weight: bold;
}
.wemark_inline_code_italic {
    font-style: italic;
}

.wemark_inline_code_entity {
    cursor: help;
}

.wemark_inline_code_inserted {
    color: green;
}
